---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/layout/Container.astro";

const title = "Service Design";
---

<Layout title={title}>
  <Container>
    <div class="py-20">
      <h1
        class="text-4xl md:text-6xl font-bold text-gray-900 dark:text-white mb-8"
      >
        {title}
      </h1>
      <p class="text-xl text-gray-700 dark:text-gray-300">Coming soon...</p>
    </div>
  </Container>
</Layout>
