---
interface Props {
  class?: string;
  fullWidth?: boolean;
}

const { class: className = "", fullWidth = false } = Astro.props;

const containerClass = fullWidth
  ? "w-full px-8 md:px-12 lg:px-12"
  : "max-w-7xl mx-auto px-8 md:px-12 lg:px-12";
---

<div class:list={[containerClass, className]}>
  <slot />
</div>
