---
interface Props {
  class?: string;
  fullWidth?: boolean;
}

const { class: className = "", fullWidth = false } = Astro.props;

const containerClass = fullWidth
  ? "w-full px-4 sm:px-12 lg:px-16"
  : "max-w-7xl mx-auto px-4 sm:px-12 lg:px-16";
---

<div class:list={[containerClass, className]}>
  <slot />
</div>
