---
import { getCollection } from "astro:content";
import Layout from "@/layouts/BaseLayout.astro";
import Container from "@/components/layout/Container.astro";
import "@/styles/components/work-page.css";

export const prerender = true;
---

<Layout 
  title="Work & Case Studies | Dale Rogers - Service Designer and Digital Strategist"
  description="Explore my portfolio of successful projects and learn how I've helped clients achieve their goals through innovative service design solutions."
>
  <meta http-equiv="refresh" content="0;url=/work/1" />
  <Container>
    <div class="text-center py-12">
      <p>Redirecting to <a href="/work/1" class="text-orange-600 hover:text-orange-700">Work & Case Studies</a>...</p>
    </div>
  </Container>
</Layout>
