---
// src/pages/work/index.astro
export const prerender = true;

// Add layout and define a redirect
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Redirecting to Work">
  <meta http-equiv="refresh" content="0;url=/work/1" />
  <p>Redirecting to <a href="/work/1">Work</a>...</p>
</Layout>
