---
title: Dale Rogers / Protecting our borders with digital verification
date: 2025-04-22
url: "http://dalerogers.com.au/work/protecting-our-borders-with-digital-verification"
description: An Australian Agency was struggling with understanding if its procedures and processes were being followed, if they were relevant to the tasks and how and where ...
keywords: 
---

#  Protecting our borders with digital verification 

Tuesday, 20 December 2022 —   
[Agile](/work?filter=Agile), [Continuous Improvement](/work?filter=Continuous Improvement), [service design](/work?filter=service design), [user experience](/work?filter=user experience), [user research](/work?filter=user research)

I was engaged in designing and delivering a verification service application. This new service was developed to drive continuous improvement and quality-improved outcomes in field inspections. The client will use it to support national security activities, including trade and border control, sovereign risk and incident management. 

The service design included the development of a service model and delivery approach, business requirements and a service implementation roadmap. The work provides a comprehensive, dynamic, scalable, and secure verification platform. 

## Project relevance

[User-centred applications design](/work/protecting-our-borders-with-digital-verification/work?filter=user%20centred%20applications%20design) | [Technology Research](/work/protecting-our-borders-with-digital-verification/work?filter=technology%20research) | [Digital service design](/work/protecting-our-borders-with-digital-verification/work?filter=digital%20service%20design) | [Knowledge management ](/work/protecting-our-borders-with-digital-verification/work?filter=knowledge%20management)| [Technology systems integration](/work/protecting-our-borders-with-digital-verification/work?filter=technology%20systems%20 integration)

## Outcomes

The recommendations in these service designs provide a sustainable, future-proofed, scalable architecture for verification for the client, including sovereign security stakeholders, service providers, quarantine agents and security inspectors. The recommendations enabled the client to rapidly deliver services to its clients and stakeholders through an agile development approach, with agreed services delivered by a development partner.

The recommendations in this project have moved into the project delivery contract established with the client's preferred application developer. I have continued to support the client with Product Owner services during the platform development phase. The project was completed and put into production in December 2022. It is built on Dynamics 365 with Azure cognitive services and a PowerApps canvas field tool to support inspectors performing their verification activities. The client accepted an integration contract for ongoing service management support.
