---
import type { HTMLAttributes } from "astro/types";
import Button from "@/components/ui/Button.astro";
import SectionContainer from "@/components/layout/SectionContainer.astro";

interface Props extends HTMLAttributes<"section"> {
  class?: string;
  /** Array of content paragraphs to display */
  content: string[];
}

const { class: className, content, ...props } = Astro.props;
---

<SectionContainer class={`section-full py-32 ${className ?? ""}`} {...props}>
  <div class="grid grid-cols-6 gap-8">
    <div class="col-span-6 lg:col-span-4">
      <div class="mb-6 text-2xl text-text-secondary prose prose-lg max-w-none">
        {
          content.map((paragraph) => (
            <p class="mb-6 fade-in-up" set:html={paragraph} data-fade />
          ))
        }
      </div>
      <div class="mt-12">
        <Button variant="black" href="/contact" class="fade-in-up" data-fade>
          Let's Talk
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </Button>
      </div>
    </div>
  </div>
</SectionContainer>

<script type="module">
  window.addEventListener("DOMContentLoaded", async () => {
    const mod = await import("/scripts/fadeInOnScroll.js");
    mod.fadeInOnScroll();
  });
</script>

<style>
  :global(.emphasis) {
    /* Token-based classes to add in markup: text-primary dark:text-primary */
    @apply font-medium italic;
  }

  :global(.strong) {
    @apply text-neutral-900 dark:text-white font-bold;
  }
</style>
