---
import Icon from "@/components/ui/Icon.astro";
const { value, label, icon, class: iconClass } = Astro.props;
---

<div
  class="metric flex items-center gap-4 my-8 p-6 bg-card border border-card rounded-xl"
>
  {
    icon && (
      <span class="shrink-0">
        <Icon
          name={icon}
          class={`w-10 h-10 ${iconClass ? iconClass : "text-accent"}`}
        />
      </span>
    )
  }
  <div>
    <div class="text-4xl md:text-5xl font-black text-heading">{value}</div>
    <div class="text-2xl text-text-secondary font-semibold">{label}</div>
  </div>
</div>
