---
interface Props {
  heading: string;
  subheading?: string;
  alignment?: "left" | "center" | "right";
}

const { heading, subheading, alignment = "left" } = Astro.props;

const alignmentClasses = {
  left: "text-left",
  center: "text-center mx-auto",
  right: "text-right ml-auto",
};

import "@/styles/components/section-heading.css";
---

<div class={`section-heading ${alignmentClasses[alignment]}`}>
  <h2 class="section-heading__title text-heading">
    {heading}
  </h2>
  {
    subheading && (
      <p class="section-heading__subtitle text-subheading">{subheading}</p>
    )
  }
</div>
