---
import Heading from "@/components/ui/Heading.astro";

interface Props {
  heading: string;
  subheading?: string;
  alignment?: "left" | "center" | "right";
  /** Font family for the heading - 'fraunces' or 'dm-sans' */
  font?: "fraunces" | "dm-sans";
}

const {
  heading,
  subheading,
  alignment = "left",
  font = "fraunces",
} = Astro.props;

const alignmentClasses = {
  left: "text-left",
  center: "text-center mx-auto",
  right: "text-right ml-auto",
};

import "@/styles/components/section-heading.css";
---

<div class={`max-w-4xl ${alignmentClasses[alignment]}`}>
  <Heading level={2} font={font} size="custom" class="mb-4">
    {heading}
  </Heading>
  {
    subheading && (
      <p class="text-lg text-neutral-600 dark:text-neutral-400">{subheading}</p>
    )
  }
</div>
