---
interface Props {
  heading: string;
  subheading?: string;
  alignment?: "left" | "center" | "right";
}

const { heading, subheading, alignment = "left" } = Astro.props;

const alignmentClasses = {
  left: "text-left",
  center: "text-center mx-auto",
  right: "text-right ml-auto",
};
---

<div class={`max-w-4xl ${alignmentClasses[alignment]}`}>
  <h2 class="text-4xl md:text-5xl font-heading mb-4 text-heading">
    {heading}
  </h2>
  {subheading && <p class="text-lg text-subheading">{subheading}</p>}
</div>
