---
import type { TagListProps } from "./types";
import "@/styles/components/tag-list.css";

interface Props extends TagListProps {}

const { tags, class: className = "", currentTag } = Astro.props;

const baseClasses = "tag-list";
const activeClasses = "tag-list--active";
const defaultClasses = "tag-list--default";
---

<div class:list={["flex flex-wrap gap-2", className]}>
  {
    tags.map((tag) => {
      const isCurrentTag =
        currentTag && tag.toLowerCase() === currentTag.toLowerCase();
      return (
        <a
          href={`/tags/${tag.toLowerCase()}`}
          class:list={[
            baseClasses,
            isCurrentTag ? activeClasses : defaultClasses,
          ]}
        >
          {tag}
        </a>
      );
    })
  }
</div>
